 body { background:-webkit-linear-gradient(left top,#FF0d0d,#FFB2B2);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position:center;
	   background-size: cover;
	   overflow-y:scroll;
	   }
	   
#headbox{margin-top:0px;
         margin-left:110px;
		 margin-right:auto;
		 margin-bottom:2px;
		 width:100%;
		 height:80px;
		 border:none;
		 position:fixed;
		 }   
	   
#headboxtext{font-size:60px;
             font-family:Verdana;
			 position:fixed;
			 margin-top:-5%;
			 margin-left:0px;
			 }	
 
 #box1{width:95%;
      height:75%;
	  margin-top:3%;
	  margin-bottom:2px;
	  margin-left:20px;
	  margin-right:auto;
      border:none;
	  position:fixed;
     -webkit-box-shadow: 0 15px 10px #777;
       -moz-box-shadow: 0 15px 10px #777;
     box-shadow: 0 15px 10px #777;
  
	background: -webkit-linear-gradient( left top,#47A3FF,#B8DBFF);
	  }	
	  #box1text{font-family:arial;
	
	font-size:25px;
    MARGIN-LEFT:18PX;
    MARGIN-TOP:8PX;
	margin-right:100px;
	}
